@{
    ViewData["Title"] = "User Login";
}
@model PurchaseService.Models.UserLogin
<div class="purchase-login">
    <div class="col-xs-10 col-sm-7 col-md-5 col-lg-5 form-login">
        <div class="login-panel">
            <div class="panel panel-login">
                <div class="panel-body">
                    <div class="row">
                        <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
                            <div class="login-key-icon">
                                <img class="img-responsive" src="~/images/login-key.png" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <h3>User Login</h3>
                            <form asp-controller="Account" asp-action="Login" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#content">
                                <div class="form-group">
                                    @*<input asp-for="UserName" type="text" name="userName" id="username-input" placeholder="User Name" class="form-control" />*@
                                    <input asp-for="UserName" type="text" class="form-control" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    @*<input asp-for="Password" type="password" name="password" id="password-input" placeholder="Password" class="form-control" />*@
                                    <input asp-for="Password" type="password" class="form-control"/>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Log in" class="btn btn-submit"/>
                                </div>
                                <div class="form-group">
                                    <a href="" class="small">Forgot password?</a>
                                </div>
                            </form>
                            <div id="content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
